extends layout

block prepend head
   title Proposition de présentation pour Paris.js

block body
  .container
    h1 Proposition de présentation pour Paris.js
    form(method='post', action='/')
      label(for="title") Titre
      input#title.input-xxlarge(type="text", name="title")

      label(for="abstract") Résumé
      span.help-block Un résumé de votre présentation de moins de 10 lignes. La sélection se fera sur la base de ce résumé.
      textarea#abstract.input-xxlarge(name="abstract", rows="7")

      label(for="author") Votre nom + email
      span.help-block Nous utiliserons cette information pour vous informer du résultat de la sélection.
      input#author.input-xxlarge(type="text", name="author", placeholder='François francois@example.org')

      label(for="type") Durée de la présentation
      span.help-block Une présentation longue dure 20min + 5min de questions, Lightning Talk (présentation éclair) dure 5min chrono
      select#type(name="type")
        option(value="long") Longue
        option(value="short") Lightning Talk
      
      label(for="type") Niveau de la présentation
      span.help-block Si votre publication cible un public particulier ?
      select#type(name="type")
        option(value="public") Tout public
        option(value="noob") Débutant (I will help you start)
        option(value="advanced") Advanced (How to do it well)
      
      br
      input.btn.btn-primary(type="submit", value="Envoyer")
