doctype html
html(lang="fr")
  head
    block head
      link(rel="stylesheet", type="text/css", href="/css/bootstrap.min.css")
      link(rel="stylesheet", type="text/css", href="/css/bootstrap-responsive.min.css")
  body
    block body
